
.menu{
    margin: auto 10px auto 10px;
    display: none;
}
@media (max-width:660px) {
    .menu{
        display: block;
    }
    .nav-sec-2{
        display: none;
    }
}
@media (max-width:460px) {
    .menu-items{
        display: none;
    }
    .nav-sec-1{
        width: 90vw;
        justify-content: space-between;
    }
}